// background color #F3F4F9
// accent color #FF9900
// header font color #2C211B
// paragraph font color #6A6A68

.profile {
    width: 350px;
    height: undefined;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.infoPadding {
    padding-left: 50px;
    padding-right: 75px;
}

.infoBody {
    font-family: 'Apercu Pro Regular';
    color: #2C211B;
    // color: #6A6A68;
}