// background color #F3F4F9
// accent color #FF9900
// header font color #2C211B
// paragraph font color #6A6A68

.container {
    padding: 3%;
    padding-top: 150px;
}

img {
    width: 50%;
    height: auto;
}

.nameInfo {
    font-weight: bold;
    color: #B4B4B4;
    font-size: 18px;
}

.workInfo {
    font-weight: bold;
}

.dateInfo {
    font-size: 15px;
}

.namePadding {
    padding-top: 30px;
    padding-bottom: 10px;
}


.infoBodyPadding {
    padding-top: 5px;
    padding-bottom: 5px;
}

.infoBody {
    font-family: 'Apercu Pro Regular';
    color: #2C211B;
}

.colPadding {
    padding-left: 40px;
    padding-right: 40px;
}

.gif {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.emoji {
    padding-right: 20px;
}

.aboutGallery {
    padding: 10%;
}