// background color #F3F4F9
// accent color #FF9900
// header font color #2C211B
// paragraph font color #6A6A68


.infoPadding {
    padding-left: 50px;
    padding-right: 75px;
}

.infoBody {
    font-family: 'Apercu Pro Regular';
    color: #2C211B;
    // color: #6A6A68;
}