// background color #F3F4F9
// accent color #FF9900
// header font color #2C211B
// paragraph font color #6A6A68

.video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.text {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    color: #2C211B;
    //color: white;
    font-family: 'Fjalla One';
    font-size: 90px;
    line-height: 100%;
}

.intro {
    color: #2C211B;
    //color: white;
    font-family: 'Apercu Pro Regular';
    font-size: 16px;
}

.resume {
    padding-top: 20px;
}

.resumeButton {
    color: #2C211B !important;
    font-family: 'Apercu Pro Regular' !important;
    border-color: #2C211B !important;
    font-size: 14px !important;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;

    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resumeButton:hover {
    background-color: #2C211B !important;
    color: white !important;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.home {
    position: relative;
}

