// background color #F3F4F9
// accent color #FF9900
// header font color #2C211B
// paragraph font color #6A6A68

.home {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 12%;
    padding-bottom: 12%;
    width: 100%;

    overflow: auto;
}

.hello {
    color: #FF9900;
    font-family: 'Apercu Pro Bold';
    font-size: 30px;
}

.name {
    color: #6A6A68;
    font-family: 'Apercu Pro Bold';
    font-size: 30px;
}

.position {
    color: #2C211B;
    font-family: 'Fjalla One';
    font-size: 80px;
    line-height: 120%;
}

.intro {
    color: #6A6A68;
    font-family: 'Apercu Pro Regular';
    font-size: 16px;
}

.landing {
    display: inline-block;
}

.graphicPadding {
    padding-left: 5%;
    padding-right: 5%;
    float: right;
}

.graphic {
    max-width: 400px;
    width: 100%;
    height: undefined;
    display: block;
}

.resume {
    padding-top: 20px;
}

.resumeButton {
    color: #FF9900 !important;
    font-family: 'Apercu Pro Bold' !important;
    border-color: #FF9900 !important;
    font-size: 14px !important;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.resumeButton:hover {
    background-color: #FF9900 !important;
    color: white !important;
}

.aboutMe {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 8%;
    padding-bottom: 12%;
    width: 100%;
}

.whiteBlock {
    background-color: white;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

    display: inline-block;

}

.pfp {
    max-width: 500px;
    width: 100%;
    height: undefined;
    display: block;

    float: left;

    padding-right: 6%;
    padding-left: 6%;
    // padding-top: 5%;
    padding-bottom: 9%;
}

.paragraph {
    padding: 4% 0;
}

.lines {
    padding: 1% 0;
}

.aboutTitle {
    color: #2C211B;
    font-family: 'Fjalla One';
    font-size: 300%;
    // line-height: 100%;
    text-align: center;
}

.center {
    padding-top: 6%;
    text-align: center;
    padding-bottom: 4%;

}

.box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  
    background: white;
    border-radius: 5px;
  }

.fontSize {
    font-size: 18px;
}