// background color #F3F4F9
// accent color #FF9900
// header font color #2C211B
// paragraph font color #6A6A68

.button {
    color: #252424 !important;
    font-family: 'Apercu Pro Regular' !important;
    font-size: 14px;

    padding-right: 30px !important;
    padding-left: 30px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.aayushiButton {
    color: #252424 !important;
    // font-family: 'Fjalla One';
    // font-size: 20px;
    font-family: 'Apercu Pro Regular' !important;
    font-size: 16px;

    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-color: transparent;
    border: none;
    outline: none;
    background-color: transparent;
}

.aayushiButton:hover {
    background-color: transparent;
    cursor: pointer;
}

.buttonGroup {
    padding-top:30px;
    padding-bottom:30px;
    padding-left: 60px;
    padding-right: 60px;
    position:absolute;
    top:0;
    width:100%;
    z-index:1;
}






.App {
    background-color: #F3F4F9;
    min-height: 100vh;
}

.nameHeader {
    font-family: 'Fjalla One';
    color: #2C211B !important;
}

.sectionHeader {
    font-family: 'Apercu Pro Bold';
    color: #6A6A68 !important;
}





// import fonts

@font-face {
	font-family: 'Fjalla One';
	src: local('FjallaOne-Regular'), url(./fonts/FjallaOne-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Apercu Pro Bold';
	src: local('Apercu Pro Bold'), url(./fonts/ApercuPro-Bold.otf) format('opentype');
}

@font-face {
	font-family: 'Apercu Pro Regular';
	src: local('Apercu Pro Regular'), url(./fonts/ApercuPro-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Apercu Pro Italic';
	src: local('Apercu Pro Italic'), url(./fonts/ApercuPro-Italic.otf) format('opentype');
}

